@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(fonts/f0_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
@font-face {
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(fonts/f0_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(fonts/f1_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(fonts/f1_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(fonts/f1_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url(fonts/f2_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url(fonts/f2_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
@font-face {
  font-family: 'DotGothic16';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(fonts/f3_0.woff2) format('woff2');
  unicode-range: U+20-5b, U+5d-7d, U+b0, U+b7, U+d7, U+2013-2014, U+2192, U+2500, U+2550, U+25b2, U+3001-3002, U+3042, U+3044, U+3046, U+3048, U+304a-305c, U+305f-3060, U+3063-306b, U+306d-3080, U+3082-3084, U+3086-3087, U+3089-308c, U+3092-3094, U+3099-309a, U+30a3-30a4, U+30af-30b2, U+30b7-30ba, U+30bf-30c0, U+30c6-30c9, U+30cf-30d7, U+30db-30de, U+30e0, U+30e9, U+30eb, U+30ef, U+30f3, U+30f7, U+30fc, U+4f5c, U+5075, U+53f0, U+56e3, U+5f53, U+611f, U+6311, U+63a2, U+63a8, U+63cf, U+64cd, U+65b0, U+697d, U+7406, U+767b, U+7d75, U+8449, U+899a, U+8a00, U+904a, U+983c, U+984c, U+9ad8, U+ff0f;
}
